<!DOCTYPE html>
<html lang="es">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="bg-white text-gray-800">

  {% include "partials/nav.njk" %}

  {{ content | safe }}

  {% include "partials/footer.njk" %}
  {% include "partials/scripts.njk" %}

</body>
</html>
